<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="xyz.zimuju.reader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application>

        <activity
            android:name="xyz.zimuju.reader.surface.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.TransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme"/>

        <activity
            android:name="xyz.zimuju.reader.base.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.SlideScrollViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.SlideShadeViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"/>

        <activity
            android:name="xyz.zimuju.reader.widget.viewbigimage.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme"/>

        <activity
            android:name="xyz.zimuju.reader.widget.webview.WebViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.DoubanTopActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.one.OneMovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"/>

        <activity
            android:name="xyz.zimuju.reader.surface.menu.NavHomePageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.menu.NavDeedBackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.menu.NavAboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.book.BookDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="xyz.zimuju.reader.surface.menu.NavDownloadActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>